*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}



/* HEADER */

header{
    width: 100%;
    background-color: rgb(161, 146, 146);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
}

.header-1{
    display: flex;
}

.desplegar{
    border: none;
    background-color: rgb(161, 146, 146);
    font-size: 20px;
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

h1{
    margin-left: 20px;
}

nav{
    width: 50%;
    padding-right: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
}


ul a{
    color: white;
    font-size: 20px;
}

ul a:hover{
    border-bottom: 4px solid lightblue;
}



/* SECTION */

section{
    padding-top: 50px;
}

section .imagenes{
    height: 300px;
    width: 50%;
    border: 1px solid black;
}

section .menu{
    height: 600px;
    width: 100%;
    border: 1px solid black;
}

section .mapa{
    height: 300px;
    width: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 30px;
}

.mapa iframe{
    width: 200px;
}

section .section-form{
    
    background-color: rgb(219, 212, 212);
}

section .tittle-form{
    text-align: center;
    font-size: 40px;
}

section .container-form{
    display: flex;
    justify-content: center;
}

section .tittle-form{
    display: block;
}

section form{
    width: 700px;
    margin: 30px 0;
}

fieldset{
    padding: 10px;
    border: 3px solid rgb(137, 126, 126) ;
}

input{
    display: block;
    height: 30px;
    width: 600px;
    background-color: #ccc;
    padding: 0 20px;
    margin: 20px 0;
    outline: none;
    border: 1px rgb(158, 152, 152) solid;
}

select{
    height: 30px;
    width: 300px;
    background-color: #ccc;
    outline: none;
}



/* FOOTER */

footer{
    background-color: rgb(82, 24, 24);
    color: bisque;
    display: flex;
    height: 150px;
}

footer .info-footer{
    width: 80%;
}

footer p{
    margin: 50px 30px;
}

footer ul{
    width: 50%;
    text-align: right;
    margin-right: 30px;
}

footer li{
    margin: 10px 0;
}


@media screen and (max-width: 770px) {
    header{
        display: block;
        padding: 0px;
    }

    .header-1{
        justify-content: space-between;
    }

    .desplegar{
        display: block;
    }

    header nav{
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        margin-top: 15px;
    }

    .active{
        height: 30vh;
        transition: all 0.5s ease;
    }

    header ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    header li{
        margin: 15px 0;
    }
}